* {
	margin: 0;
	padding: 0;
}

body {
	background: url(fundo.png);
	font: 16px Arial, Helvetica, sans-serif;
}

header h1, header h2 {
	margin-left: -3000px;
	float: left;
}

header {
	margin: 10px;
}

nav {
	width: 900px;
	background-color: #c5c5b2;
	float: left;
	margin: 0 10px;
}

nav li {
	display: inline-block;
	color: #4b566a;
	font: 20px Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	margin: 2px 30px;
}

li a:link, li a:visited {
	color: #4b566a;
	font: 20px Arial, Helvetica, sans-serif;
	text-decoration: none;
}

li a:hover {
	color: brown;
	font: 20px Arial, Helvetica, sans-serif;
	text-decoration: underline;
}

main {
	clear: both;
	width: 900px;
	background-color: #e8e8d9;
	text-align: justify;
	margin: 5px 10px; 
}

main h3 {
	color: #828271;
	margin: 20px;
	padding: 10px;
}

main p {
	margin: 20px;
	padding: 5px;
}

footer {
	width: 900px;
	margin: 20px;
	font-weight: bold;
	text-align: center;
}

.imagens {
	border: 10px solid #c3c3ae;
}

form {
	height: 350px;
	text-align: center;
}

.formulario {
	width: 280px; 
	padding-top: 8px;
	padding-right: 25px;
	padding-bottom: 8px;
	margin: 10px 20px;
	font: 15px Helvetica, sans-serif;
}

.nome-form, .email-form, .tel-form, textarea, .envio {
	width: 250px;
	height: 25px;
	margin: 15px;
}

legend {
	font: 15px bold Helvetica, sans-serif;
}