* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #369AD9;
	font: 16px Poppins, sans-serif;
}

header {
	background-color: #ffffff;
	position: relative;
}

header img {
	margin: 0 auto;
}

header ul {
	display: inline-block;
	position: absolute;
	top: 125px;
	left: 512px;
	margin: 0 auto;
	width: 50%;
	text-align: center;
}

header ul li {
	display: inline;
	margin: 0 16px;
	font-size: 1.3em;
}

header a:link, header a:visited {
	text-decoration: none;
	color: #369AD9;
	font-size: 1.2em;
}

header a:hover {
	text-decoration: underline;
}

header button {
	width: 128px;
	border-radius: 180px;
	height: 32px;
	border: none;
	background-color: #369AD9;
	vertical-align: top;
	color: #ffffff;
	font-weight: bold;
	font-size: 0.8em;
	cursor: pointer;
}

header button:hover {
	background-color: #ffffff;
	color: #369AD9;
	border: 2px solid #369AD9;
}

main {
	background-color: #f2f2f2;
	margin: 48px auto;
	text-align: center;
	width: 100%;
}

main article {
	text-align: center;
	margin: 48px auto;
	padding: 16px;
}

main article img {
	display: block;
	margin: 0 auto;
}

main article h1 {
	font-size: 2.1em;
	padding: 8px 0;
	color: #D94A4A;
	text-align: center;
}

main article h2 {
	font-size: 1.8em;
	color: #369AD9;
}

main article p {
	color: #54565C;
	padding: 8px 0;
	margin: 0 256px;
	text-align: center;
	font-size: 1.2em;
}

.formulario {
	border: 2px solid #c5c5c5;
	box-shadow: 4px 4px 4px #c9c9c9;
	width: 50%;
	margin: 48px auto;
	text-align: center;
	padding: 8px 16px;
}

form legend, .secao3 {
	font-size: 1.2em;
	color: #54565C;
	font-weight: bold;
	margin: 16px auto;
}

.formulario .secao1 {
	width: 108px;
	display: inline-block;
	vertical-align: middle;
	margin: 16px auto;
	
}

.formulario input[type="text"],
.formulario input[type="email"],
.formulario input[type="tel"],
.formulario input[type="text"] {
	width: 25%;
	height: 32px;
	margin: 16px auto;
}

.formulario input[type="radio"] {
	margin: 8px;
}

select {
	margin: 8px auto;
	width: 25%;
	height: 32px;
}

.digitacao {
	width: 40%;
	height: 128px;
}

.botao-envio {
	margin: 32px auto;
	width: 40%;
	height: 32px;
	border-radius: 32px;
	border: none;
	background-color:#D94A4A;
	color: #ffffff;
	font-size: 1.1em;
	font-weight: bold; 
}

.botao-envio:hover {
	color: #D94A4A;
	background-color: #ffffff;
	border: 1px solid #D94A4A;
	cursor: pointer;
}

footer {
	background-color: #F2F2F2;
	text-align: center;
	margin: 0 auto;
	font-size: 0.9em;
}

.line1 {
	padding: 32px 0 0 0;
}

.line2{
	padding: 16px 0 32px 0;
}